body {
	margin: 0px;
background-color: #F9FAFA;

	
}
header {
	height: 80px;
	background-color: #EEEEEE  ;
	position: fixed;
	width: 100%; 
	top: 0px;
	opacity: 0.9;
	

}



footer {
	height: 80px;
	background-color:  #EEEEEE;/*  #c5d5cb */
	position: fixed;
	bottom: 0px;
	width: 100%;
	

	
}





#nav1 {
	
	
	
	position: absolute;
	width: 100%;
    text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
   
}
	
	#nav1 > li {
		
		
		display: inline-block;
		margin-left: 130px;
		color: white;
		font-size: 20px;
		font-weight:  700;
		
		text-transform: uppercase;
	}
#nav1 > li a:hover {
	color: #16302B;
	
}


li a:link, li a:visited {
    background-color:  #9fa8a3 ;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


 li a:active {
    background-color: gray;   /* li a:hover, remove*/
	
}

#logo {
	height: 80px;
	width: 150px;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	
	
	
}



#copyright {
	text-align: center;
	color: #8BAAAD;
	
}
#info {	
	color:  #979797; /* #feffdd */
	text-align: center;
	font-size: 25px;
	font-family: "Times New Roman";
    letter-spacing: 0.1px;
}
#h1emri {
	text-align: center;
	color:#7F7F7F; /* feffdd */
	font-family: "Times New Roman";
	font-size: 35px;
	text-decoration-color: #feffdd;
	
}
#container {
	margin-top: 150px;
	
}